:root{
    --text-color: #f4f4fd;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff; 
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */

.header{
    align-items: center;
    background-color: #ffffff;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-dark{
    color:#2e2f42;
}

.nav-link{
    font-size: 16px;
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02;
}

.nav-link:hover, .nav-link:focus{
    color: #404bbf;
}

.header-contacts a{
    color:#434455;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
    
.header-contacts a:hover, .header-contacts a:focus{
    color: #404bbf
}

/* MAIN */

/* SECTION #1 */

.main{
    background-color: #2e2f42;
    color: #ffffff;    
}

.main-title{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.btn{
    background-color: #4d5ae5;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #ffffff;
    cursor: pointer;
}

.btn:hover, .btn:focus{
    background-color: #404bbf;
}

h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: #2e2f42;
}

/* SECTION #2 */



.features-title{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.20;
    color: #2e2f42;
}

.features-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* SECTION #3 */

.team{
    background-color: #f4f4fd;
}

.team-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}


.team-photo{
    background-color: #ffffff;
    text-align: center;    
}

.team-name{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-role{
    font-size: 16px;
    text-align: center;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* SECTION #4 */

.p-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.p-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color: #2e2f42;
}

.p-paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02;
    color: #434455;
}

/* FOOTER */

.footer{
    background-color: #2e2f42;
}

.logo-white{
    color: #f4f4fd
}

.footer-text{
    line-height: 1.5;
    color: var(--text-color)
}