body{
    font-family: "Roboto", sans-serif;
    color: #2e2f2e;
    background-color: #ffffff; 
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */

.header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border-bottom: 1px; 
}

.logo{
    font-size: 18px;
    font-weight: 700;
    color: #4d5ae5;
}

.logo-dark{
    color:#2e2f42;
}

.nav-list{
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-link{
    font-size: 16px;
    color: #2e2f42;
}

.nav-link:hover, .nav-link:focus{
    color: #404bbf;
}

.header-contacts a{
    color:#434455;
    font-size: 16px;
}
    
.header-contacts a:hover, .header-contacts a:focus{
    color: #404bbf
}

/* MAINE */

.maine{
    background-color: #2e2f42;
    color: #ffffff;
    text-align: center;
    padding: 88px 0;
    
}

.maine-title{
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    padding: 16px 32px;
    background-color: #4d5ae5;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    width: 169px;
    height: 56px;
}

.btn:hover, .btn:focus{
    background-color: #404bbf;
}

h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    color: #2e2f42;
}

.features-list{
    display: flex;
    list-style: none;
    padding: 40px 20px;
    margin: 0;
    gap: 20px;
    justify-content: space-between;

}

.features-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    margin-bottom: 8px;
}

.team-list{
    list-style: none;
    padding: 40px 20px;
    margin: 0;
    gap: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

.team-photo{
    border-radius: 8px;
    text-align: center;
    padding: 0px 0px 32px;
    width: 264;
    height: 428;
}

.team-name{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 4px;
    line-height: 1.2;
    text-align: center;
    color: #2e2f42;
}

.team-role{
    font-size: 16px;
    text-align: center;
    color: #434455;
}

.team-list li{
    width: 264px;
    text-align: center;
}